# Data Science Tools and Ecosystem 
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python language
2. R language
3. C++ language 
4. Julia langage

Some of the commonly used libraries used by Data Scientists include: 
1. Pandas 
2. Numpy 
3. Matplotlib 
4. Seaborn

|Data Science Tools|
------------------- 
|Hadoop            |
|Apach spack       |
|Jupyter notebook  | 
|R Studio          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60 
print(f"200 minutes equal to {round(200/60,2)} hours")

200 minutes equal to 3.33 hours

<h1 >Objective</h1>
In this final assignment, you will:
<ul>
    <li>Create a Jupyter Notebook</li>
    <li>Insert code and markdown cells</li>
    <li>Share your notebook through GitHub</li>
</ul>

## Author
SOKE Os√©e